
.totalDiv h2{

  justify-self: center;
}
  @keyframes animate {
    0% {
      opacity: 0.2;
      transform: rotateY(90deg);
      filter: blur(1px);
    }
  
    50% {
      opacity: 0.6;
      transform: rotateY(30deg);
  
      filter: blur(2px);
    }
  
    100% {
      opacity: 1;
      transform: rotateY(0deg);
      filter: blur(0px);
    }
  }
  
  /* /////////////////////////////////////////////////////// */
  .allProjects {
    padding-top: 140px;
    display: flex;
    flex-direction: row;
  
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .pro {
    height: 450px;
    width: 300px;
    /* background-color: aqua; */
    box-shadow: 0px 10px 10px 10px;
    color: black;
    animation: animatee 7s linear 2;
  }
  
  .image {
    width: 300px;
  }
  .totalDiv {
    margin-bottom: 50px;
  }
  
  @keyframes animatee {
    0% {
      opacity:1;
      transform: rotateY(90deg);
      /* filter: blur(3px); */
    }
  
    20% {
      opacity:1;
      transform: rotateY(30deg);
  
      /* filter: blur(2px); */
    }
  
    100% {
      opacity: 1;
      transform: rotateY(0deg);
      /* filter: blur(0px); */
    }
  }
  .pro p{
    margin: 10px 20px;
    font-size: larger;
    font-weight: 800;
    color: rgb(43, 43, 43);
  }

  @media (max-width: 500px){


    .totalDiv h2{

      margin-left: 20%;
      font-weight: 700;
    }
   
      .allProjects {
        padding-top: 40px;

        display: flex;
        flex-direction: column;
      
        justify-content: space-between;
        align-items: center;
        margin-left: 0px;
        margin-right: 0px;
      }
      
      .pro {
        height: 450px;
        width: 200px;
        /* background-color: aqua; */
        box-shadow: 0px 4px 4px 4px;
        color: black;
        animation: animatee 7s linear 2;
      }
      
      .image {
        width: 200px;
      }
      .totalDiv {
        margin-bottom: 0px;
      }
   
      .pro p{
        margin: 7px;
        font-weight: 400;
        color: rgb(43, 43, 43);
      }




  }