

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.all{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: #607d8b; */
    background: #054768;
    width:100%;
    
}

.container {
    position: relative;
    top: 350px;
    
 
}
.cup{
  
    position: relative;


    bottom: 200px;
padding-block: 50px;
left: 130px;

    width: 240px;
    height: 240px;
    background: linear-gradient(to right,#f9f9f9 , #d9d9d9);
    border-bottom-left-radius: 45% ;
    border-bottom-right-radius: 45%;
}
.top{
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 60px;
    background: linear-gradient(to right,#f9f9f9 , #d9d9d9);
    border-radius: 50%;
}
.circle{
    position: absolute;
    top: 5px;
    left: 10px;
    width: calc(100% - 20px);
    height: 50px;

    background: linear-gradient(to right,#f9f9f9 , #d9d9d9);
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
}

.tea{
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#c57e65, #e28463);
    border-radius: 50%;
}
.handle{
    position: absolute;
    right: 46.4%;
    bottom: 250px;
    width: 160px;
    height: 180px;
    border: 25px solid #dcdcdc;
    border-left: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-radius:50% ;
    transform: rotate(42deg);
}

.plate{
    position: absolute;
    bottom: 150px;
    left:32.3% ;
    transform: translateX(-50%);
    width: 500px;
    height: 200px;
    background: linear-gradient(to right , #f9f9f9 , #e7e7e7);
    border-radius: 50%;
    box-shadow: 0 35px 35px rgba(0,0,0,0.2);

}
.plate::before{
    content: " ";
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    border-radius: 50%;
    background: linear-gradient(to left, #f9f9f9 , #e7e7e7);
}

.plate::after{
    content: " ";
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
   background:radial-gradient(rgba(0,0,0,0) 25% , transparent , transparent);
   border-radius: 50%;

}


.vapour{
    position: relative;
   display: flex;
   z-index: 1;
   padding: 0 20px;
}




.mou>ol{
   position: absolute;
 left: -20px;
   top: 10px;
   width: 700px;

   height: 150px;
   list-style: none; 
   filter: blur(9px);
 
}
.mou>ol>li{
    
width: 3.5%;
height: 80%;
margin-left: 3px;
float: left;
border-radius: 50%;
margin: 0px 0px 40px rgb(255, 255, 255);
background-color: rgb(255, 255, 255);
opacity: 0;
animation-delay: calc(-0.5s);
}

.mou>ol>li:nth-child(1){
    animation: ani 1.6s ease-out 3s infinite;
}
.mou>ol>li:nth-child(2){
    animation: ani 1.5s ease-out 2.2s infinite;
}
.mou>ol>li:nth-child(3){
    animation: ani 1.4s ease-out 2.4s infinite;
}
.mou>ol>li:nth-child(4){
    animation: ani 1.3s ease-out 2s infinite;
}
.mou>ol>li:nth-child(5){
    animation: ani 1.4s ease-out 2.8s infinite;
}
.mou>ol>li:nth-child(6){
    animation: ani 1.5s ease-out 3.1s infinite;
}
.mou>ol>li:nth-child(7){
    animation: ani 1.6s ease-out 3.3s infinite;
}
.mou>ol>li:nth-child(7){
    animation: ani 1.6s ease-out 3s infinite;
}


@keyframes ani {
    0%{
        transform: translateY(0px);
        opacity: 0.5;
        background-color: rgba(255, 255, 255, 0.75);
        
        backdrop-filter: blur(20px);
        box-shadow: 0px 0px 30px white ,0px 0px 70px white , 0px 0px 80px white , 0px 0px 120px white, 0px 0px 100px white;
        
    }


    100%{
        transform: translateY(-360%);
        opacity: 1;
        background-color: rgba(241 , 235 , 234 , .2);
       
        backdrop-filter: blur(12px);
    
        box-shadow:0px 0px 30px white ,  0px 0px 70px white, 0px 0px 30px white  ,0px 0px 80px white ,0px 0px 120px white , 0px 0px 100px white , 0px 0px 130px white, 0px 0px 150px white
    }
}