.tot{
  width: 100%;
  background-color: rgba(224, 224, 224, 0.39);
  
}
.bi-list{
  display: none;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 10px 10px;
  width: 100%;
  
}
.links a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin: 0px 50px;
  font-weight: 800;
}

.intro {
  padding-left: 60px;
  margin-left: 30px;
  width: 600px;
}
.intro h1 {
  color: antiquewhite;
  font-weight: 900;
  font-size: 40px;
}

@media (max-width: 500px){
  .intro {
    padding-left: 0px;
    margin-left: 0px;
    width:100%;
  }
  .intro h1 {
    color: antiquewhite;
    font-weight: 500;
    font-size: 30px;
  }

  .bi-list{
    /* color: black; */
    /* background-color: black; */
    font-size: 15px;
  }
}
@media (max-width: 500px){

  .links a {
    text-decoration: none;
    color: black;
    font-size: 11px;
    margin: 0px 5px;
    font-weight: 700;
  }
  .bi-list{
    display: flex;
    color: rgb(247, 20, 20);
    background-color: black;
    font-size: 15px;
  }

}