/* .link_cotact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(173, 187, 192, 0.452);
}

.bi{
    font-size: 40px;
    margin: 0px 20px;
    color: black;
} */